/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
  padding-bottom: 40px;
  color: white;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  border: 1px solid #552343;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.4;
    background-color: #552343;
  }
 .carousel-caption h1{
   color: #552343;
   background-color: white;
 }

.resize {
width:400px;
height: 400px;
margin-left: auto;
margin-right: auto;
}
.resize-logo-on-page {
width:200px;
height: 200px;
margin-left: auto;
margin-right: auto;
/*border: .25px solid #aaa;*/
padding: 5px;
}
.horizontal-line{
  border: 10px solid #E041BB;
  border-radius: 7px;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.logo-text{
  color:#E041BB;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-decoration-line: none;
}

.my-label{
  text-align: left;
  /*padding: 10px;*/
  text-decoration: underline;
  font-size: 24px;
}

.padding{
  padding: 20px;
  margin: 5px;
  /*font-family: 'Pacifico', cursive;
  text-align: center;*/
  border-radius: 10px;
  background-color: #E9DFE7;
}
.btn{
  color:#E041BB;
  background-color:white;
}
.btn:hover{
  color: white;
  background-color: #E041BB;
}

.form-inline{
  text-align: left;
}

thead , tbody{
  text-align: left;
  font-size:15px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
   color: #E041BB;
}





