<div class="container" ng-controller="CommentCtrl as commentCtrl">

	<div class="container">

		<div class="row">
			<div>
				<div>
					<h1><em>Welcome to Rony & Sheila's Wedding Gram</em></h1>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">love never fails
				<i class="icon-heart"></i>
				<img height="200" width="400" src="/assets/images/RV_Wedding_Photography_Singapore034.jpg" alt="">
				<i class="icon-heart"></i>
				<!-- 4r 2c thumbnails -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving you to the end of time
				<img height="200" width="400" src="/assets/images/Wedding06-main.jpg" alt="">
				<!-- 4r 2c thumbnails -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">I will never find another you
				<img height="200" width="400" src="/assets/images/Wedding4.jpg" alt="">
				<!-- 4r 3c thumbnails -->
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">always together
				<img height="200" width="400" src="/assets/images/CT7TjbUVAAAK9jH.jpg" alt="">
				<!-- 4r 2c thumbnails -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">loving as family
				<img height="200" width="400" src="/assets/images/jewish-wedding-image-for-blog-e1440167907886.jpg" alt="">
				<!-- 4r 2c thumbnails -->
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">roses are red
				<img height="200" width="400" src="/assets/images/wedding-1183271_960_720.jpg" alt="">
				<!-- 4r 3c thumbnails -->
			</div>
		</div>

		<div class="row">
			<div>
				<div>
					<p></p>
					<h3 class="wow flip"><em>Upload Picture</em></h3>
					<form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
						<div class="form-group">
							<!-- Select file to upload. Single file only. Accepts only images-->
							<input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
						</div>
						<div class="form-group">
							<!-- Thumbnail preview of image to upload. -->
							<img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail">
						</div>
						<div class="form-group">
							<!-- Upload button. Click to upload images -->
							<button class="btn btn-default" type="submit">Upload</button>
						</div>

						<!-- Success and error flash messages. Logic based on status code returned after POST request -->
						<div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
							<button class="close" data-dismiss="alert">
												<!-- data dismiss removes the element. This alert won't show up again before refreshing -->
												&times;
											</button> {{ uploadCtrl.status.message }}
						</div>
					</form>
					<div>
						<!--class="form-control">-->
						<a ui-sref="rsvp">
							<button type="button" class="btn btn-success form-control"> Click to RSVP
							</button></a>
					</div>

					<!--</div>-->
					<div>
						<!-- hb coding for comments starts here -->
						<form name="userForm" novalidate ng-submit="commentCtrl.placeComment()">
							<!--<div class = "form-group">
													<div >
														<img height="200" width="400" src="/assets/images/16333667-A-young-couple-in-love-bride-and-groom-wedding-day-in-summer-Enjoy-a-moment-of-happiness-and-love-in-Stock-Photo.jpg" alt="" class="image-size"></div>
												</div>-->
							<label for="user">Username </label>
							<input type="text" name="user" id="user" class="form-control" size="30" placeholder="Your user name" ng-model="commentCtrl.user">
							<!-- binds to commentCtrl.user -->
					</div <div class="form-group">
					<label for="comment">Comment </label>
					<input type="text" name="comment" id="comment" class="form-control" size="100" placeholder="Your comment" ng-model="commentCtrl.comment">
				</div>
				<h5>
					{{ commentCtrl.user }} {{ commentCtrl.date }} {{ commentCtrl.comment }}
				</h5>
			</div>
			<div>
				<div>
					<!--class="form-control">-->
					<button type="submit" class="btn btn-success form-control">
					Confirm and show comments...
															</button>
				</div>
				<div>
					<form name="Comments" novalidate>
						<table class="table">

							<tbody>
								<tr ng-repeat="i in commentCtrl.comments">
									<!--show LIFO ?-->
									<td>{{ i.c_user }}</td>
									<td>{{ i.c_text }}</td>
									<td>{{ i.c_date }}</td>

								</tr>
							</tbody>

						</table>
					</form>
					<!-- Comments -->
				</div>
			</div>
			</form>
			<!-- userForm -->
		</div>
		<!-- end of hb coding for comments ends -->

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-messages/angular-messages.min.js"></script>
		<script src="bower_components/angular-animate/angular-animate.min.js"></script>


		<script src="app/wedcomment.js"></script>
		<script src="app/ctrl-create1/comment-ctrl.js"></script>
		<script src="app/services/comment-service.js"></script>


		<!--<script src="app/ctrl-create1/create-controller.js"></script>
		<script src="app/services/comment-services.js"></script>
		-->

	</div>