<div class="container">
    <div class="form-group">
        <div class="padding logo-text">
            <h2> Welcome {{ctrl.guest_name}}</h2>
        </div>
        <div class="col-sm-4">
            <a ui-sref="gallery1">
                <div class="thumbnail wow fadeIn">
                    <img src="assets/images/wedding-mainpage5.jpg" alt="" class="img-responsive">
                    <div class="caption logo-text">
                        <h3>Jenny Weds Jonny</h3>
                        <p>Sunday, 11th March'2017</p>
                        <p> Venue : Flower Dome, Singapore </p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a ui-sref="gallery1">
                <div class="thumbnail wow fadeIn">
                    <img src="assets/images/wedding-mainpage3.jpg" alt="" class="img-responsive">
                    <div class="caption logo-text">
                        <h3>Ronnie Weds Shiela</h3>
                        <p>Saturday, 21st March'2017</p>
                        <p>Venue : Flower Dome, Singapore </p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>