<div class="container" ng-controller="RegisterCtrl as regCtrl">

    <h2>Sign Up </h2>
    <h2>{{regCtrl.status}} </h2>
    <hr>
    <form name="signUpForm" novalidate class="form-horizontal">

        <div class="form-group">
            <label for="Email" class="col-sm-2">Email:</label>
            <div class="col-sm-4">
                <input id="email" class="form-control" type="text" name="email" placeholder="me@example.com" required ng-model="regCtrl.user.email">
                <div class="help-block" ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
                    <p ng-message="required">Please enter email</p>
                </div>
                <!-- <span class="help-block" ng-show="signUpForm.email.$invalid">Email: me@example.com formate</span>-->
            </div>

        </div>

        <div class="form-group">
            <label for="usernames" class="col-sm-2">Name:</label>
            <div class="col-sm-4">
                <input id="usernames" class="form-control" name="usernames" placeholder="Please enter name " required ng-model="regCtrl.user.usernames">
            </div>
        </div>
        <div class="form-group">
            <label for="passwords" class="col-sm-2">Password:</label>
            <div class="col-sm-4">
                <input id="passwords" class="form-control" type="password" name="passwords" placeholder="Please enter password" required
                    ng-model="regCtrl.user.passwords">
                    <div class="help-block" ng-messages="signUpForm.passwords.$error" ng-if="signUpForm.passwords.$touched">
                        <p ng-message="required">Please enter password</p>
                    </div>
                    <!--<span class="help-block" ng-show="signUpForm.password.$invalid">Please enter password</span>-->
            </div>
        </div>

        <div class="form-group">
            <label for="user_type" class="col-sm-2">Type:</label>
            <div class="col-sm-4">
                <div class="radio">
                    <label>
							<input type="radio" name="user_type" 
                                value="guest" required
								ng-model="regCtrl.user.user_type">
							<strong>Guest</strong>
						</label>
                    <label>
							<input type="radio" name="user_type" 
                                value="couple" required
								ng-model="regCtrl.user.user_type">
							<strong>Couple</strong> 
						</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-success form-control" ng-disabled="signUpForm.$invalid" ng-click="regCtrl.registerUser()">
						Submit
					</button>
            </div>
        </div>
    </form>
</div>